

body
{
    background: #0c0e27;
}

.site-header .navbar-nav .nav-item
{
    padding: 0 10px;
}
.site-header .navbar-nav .nav-link
{
    padding: 15px 0;
    font-weight: 500;
    color: #fff;
    position: relative;
    text-transform: uppercase;
}
.site-header .navbar-brand
{
    color: #fff;
}
.v_dark .nav-fixed, .v_dark header.active, .v_dark .navbar-nav .dropdown-menu, .v_dark .lng_dropdown .ddChild, .v_dark .spop, .v_light_dark .nav-fixed, .v_light_dark header.active, .v_light_dark .navbar-nav .dropdown-menu, .v_light_dark .lng_dropdown .ddChild, .v_light_dark .spop {
    background-color: #262d4e;
}
header.nav-fixed {
    height: 70px;
    padding: 5px 0;
}
.nav-fixed, header.active, .spop {
    background-color: #4241b8;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}
header {
    height: 110px;
    padding: 25px 50px;
    transition: all 0.4s ease 0s;
}
header {
    padding: 25px 0;
}
header nav
{
    padding: 3px 0 0 0 !important;
}

@media (min-width:768px) and (max-width:1023px)
{
    header
    {
        padding: 10px 0;
    }
    #banner_canvas
    {
        width: 100%;
    }
    .site-header .navbar-brand img
    {
        width: 120px;
    }
    .site-header .navbar-nav .nav-link
    {
        font-size: 13px;
    }
    .site-header .btn {
        padding: 8px 10px!important;
        font-size: 12px;
    }
    .site-header .navbar-nav .nav-item {
        padding: 0 5px;
    }
    
}
@media (max-width:767px)
{
    header
    {
        padding: 10px 0;
    }
    header .navbar-toggler
    {
        box-shadow: none !important;
        padding: 0;
        color: #fff;
    }
    header .navbar-collapse {
        background: #262d4e;
        position: absolute;
        width: 100%;
        top: 60px;
        left: 0;
        padding: 1rem;
    }
    .site-header .navbar-nav
    {
        flex-wrap: wrap;
        flex-direction: unset;
    }
    .site-header .navbar-nav li
    {
        padding: 0 5px;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .site-header .navbar-nav .nav-link
    {
        font-size: 14px;
        padding: 7px 0;
    }
    .site-header .btn
    {
        width: 100%;
    }   
}