p {
    color: #7a7a7a;
    margin-bottom: 30px;
    line-height: 30px;
}
a
{
    text-decoration: none !important;
}

.banner_effect {
	bottom: 0;
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
.transparent_effect {
	height: 100%;
	opacity: 0.4;
	position: absolute;
	top: 0;
}
.transparent_effect.fixed {
	position: fixed;
	z-index:1;
}
.banner_rouded_bg {
	border-radius: 0 0 400px;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	-moz-transform: skewY(3deg);
	-webkit-transform: skewY(3deg);
	transform: skewY(3deg);
	transform-origin: right top 0;
	width: 100%;
	z-index: -1;
}
.section_banner {
	background-position: left bottom;
	background-size: cover;
	padding: 200px 0 100px;
	position: relative;
	overflow:hidden;
}
.banner_full_height {
	min-height: 100vh;
	height:100%;
}
.section_banner.banner_shape {
	padding-bottom: 200px;
}
.banner_bg1 {
	/* background-image:url('../images/banner_bg1.png'); */
}
.banner_text h1 {
	color: #ffffff;
	font-weight: bold;
	margin-bottom:25px;
}
.banner_text_s2 h1 {
	font-weight: normal;
	margin-bottom: 25px;
}
.banner_text h3 {
	color: #ffffff;
	font-weight: bold;
	margin-bottom:20px;
}
.banner_text p {
	color:#fff;
}
.banner_image_right {
	min-width: 690px;
}
.banner_image_left {
	left: -25%;
	min-width: 690px;
	position: relative;
}
.btn_group .btn {
	display: inline-block;
}
.social_icon {
	display: inline-block;
	vertical-align: middle;
}
.social_icon li {
	float:left;
	margin-right:10px;
}
.social_icon li a i {
	background-color: #ffffff;
	border-radius: 100%;
	display: block;
	height: 30px;
	line-height: 30px;
	text-align: center;
	width: 30px;
}
.social_bg_tran li a i {
	background-color: rgba(255,255,255,0.10);
}
.banner_inner .alert {
	border: 0 none;
	border-radius: 5px 5px 0 0;
	display: table;
	font-weight:normal;
	margin: 0 auto;
	padding: 8px 25px 5px;
}
.alert-warning {
	background-color: #ffc66c;
	color: #000000;
}
.section_banner .tk_counter_inner {
	border:0;
}
.tk_counter_inner .progress, 
.tk_counter_inner .progress-bar {
	border-radius: 20px;
	color: #5957cd;
	font-size: 14px;
	text-align: right;
}
.tk_counter_inner .progress-bar {
	padding-right: 12px;
}
.tk_counter_inner .progress {
	background-color: transparent;
	border: 1px solid #fff;
	height: 23px;
	margin-bottom: 40px;
	margin-top: 50px;
	overflow: visible;
	position: relative;
}
.tk_counter_inner .progress-bar {
	background: #fff;
    font-weight: 600;
}
.token_box .progress-bar-success {
	background-color: #05B5FF;
}
.progress .progress_label {
	background-color: #000000;
	bottom: -6px;
	color: #ffffff;
	line-height: 1;
	position: absolute;
	top: -6px;
	width: 1px;
}
.progress .progress_label strong {
	font-size: 14px;
	font-weight: 600;
	left: 50%;
	margin-top: 5px;
	position: absolute;
	top: 100%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
	white-space: nowrap;
}
.progress_max_val {
	color: #ffffff;
	font-size: 14px;
	font-weight: 600;
	padding: 0 5px;
	position: absolute;
	right: 0;
	top: -30px;
}
.progress_min_val {
	color: #ffffff;
	font-size: 14px;
	font-weight: 600;
	padding: 0 5px;
	position: absolute;
	left: 0;
	top: -30px;
}
.icon_list li {
	line-height: normal;
	padding: 0 5px;
}
.icon_list li i {
	color: #ffffff;
	font-size: 20px;
}
.bg-white .tk_countdown_time {
	background-color: #ffffff;
	border: 1px solid #5857ee;
	border-radius: 5px;
	box-shadow: none;
}
.bg-white .progress-bar {
	background: #5957cd;
}
.bg-white .progress {
	border-color: #5957cd;
}
.bg-white .tk_counter,
.bg-white .progress_min_val,
.bg-white .progress_max_val,
.bg-white .progress .progress_label {
	color:#5957cd;
}
.bg-white .progress, 
.bg-white .progress-bar {
	color:#fff;
}
.bg-white .tk_text {
	color:#7a7a7a;
}
.bg-white .icon_list li i {
	color: #7a79d7;
}
.banner_cl_logo {
	margin-top: 20px;
}
.tk_counter_inner .progress-bar.gradient {
	background: -webkit-linear-gradient(left, #ff67cb 0%,#ffcc67 99%);
	background: linear-gradient(to right, #ff67cb 0%,#ffcc67 99%);
}
.banner_rounded_bg {
	height: 561px;
	left: 50%;
	min-width: 561px;
	position: absolute;
	top: -20%;
	width: 561px;
	z-index: -1;
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}
.banner_rounded_bg img{
	-webkit-animation: swing 100s infinite linear; 
	-moz-animation: swing 100s infinite linear;
	-o-animation: swing 100s infinite linear; 
	animation: swing 100s infinite linear;
}
.banner_img {
	text-align: right;
}
.banner_rounded_shape::before {
	background-color: rgba(8, 22, 139, 0.3);
	border-radius: 100%;
	content: "";
	height: 968px;
	left: -160px;
	opacity: 1;
	position: absolute;
	right: 0;
	top: -165px;
	transform: skew(-1deg);
	width: 1240px;
	z-index: 0;
}
.banner_rounded_shape::after {
	background-color: rgba(8, 22, 139, 0.3);
	border-radius: 100%;
	content: "";
	height: 968px;
	left: -200px;
	opacity: 1;
	position: absolute;
	right: 0;
	top: -205px;
	transform: skew(-1deg);
	width: 1240px;
	z-index: 0;
}
.banner_section {
	padding-bottom: 200px;
	padding-top: 120px;
}
.banner_wave {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	fill: #ffffff;
}
.banner-shape {
    position: absolute;
    top: 0;
    left: 0;
}
.banner_pattern {
    position: absolute;
    top: 150px;
    left: 50px;
}
.scrolldown {
    position: absolute;
    bottom: 20px;
    right: 0;
    left: 0;
    margin: 0 auto;
    text-align: center;
}
.scrolldown a {
	border: 1px solid #fff;
	border-radius: 100%;
	color: #fff;
	display: block;
	line-height: 50px;
	margin: 0 auto;
	font-size: 30px;
    height: 50px;
	width: 50px;
}
.vertical_social {
	background-color: #0E082C;
    position: fixed;
    left: 0px;
    top: 50%;
    padding: 10px 0px;
    text-align: center;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index:100;
}
.vertical_social li {
    padding: 3px 15px;
}
.vertical_social li a {
    color: #fff;
    display: block;
}
.vertical_social li a:hover {
	color: #ff69c9;
}
.bg-white-tran,
.tk_countdown.bg-white-tran {
    background-color: rgba(255,255,255,0.10);
}
.presale_status {
	padding: 20px 40px;
	border-left: 1px solid rgba(255,255,255,0.10)
}
.token_countdown {
	padding: 20px;
}
@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0)
    }
    50% {
        transform: translateX(-25%) translateZ(0)
    }
    100% {
        transform: translateX(-50%) translateZ(0)
    }
}
@keyframes move_wave_reverse {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
	height: 100px;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
	/* background-image: url('../images/wave.png'); */
	animation: move_wave_reverse 10s linear infinite;
	right: 0;
	left: auto;
}
.waveMiddle {
    background-size: 50% 100px;
	/* background-image: url('../images/wave.png'); */
    animation: move_wave 10s linear infinite;
}
.icon_title {
	display: block;
	font-weight: 600;
	margin-bottom: 10px;
	text-transform: capitalize;
}
.currency_icon li {
	display: inline-block;
	margin-right: 20px;
	color: #fff
}
.currency_icon li i {
	font-size: 20px;
	margin-right: 10px;
}
.banner_token {
    padding: 20px;
    border-radius: 10px 10px 0 0;
}
.token_col {
    width: 40%;
    padding: 0 15px;
}
.progress_col {
    width: 40%;
    padding: 0 15px;
}
.btn_col {
    width: 20%;
    padding: 0 15px;
}
.banner_partner_logo {
    padding: 30px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
	margin-top: -50px;
}

.v_light_purple .tk_counter_inner .progress-bar {
	background-color: #461e74;
	color: #fff;
	font-weight: normal;
}
.v_cyan_blue .tk_counter_inner .progress-bar {
	color: #0c0e27;
	font-weight: 500;
}
.gradient_box {
    background: -webkit-linear-gradient(left, #ff67cb 0%,#ffcc67 99%) !important;
    background: linear-gradient(to right, #ff67cb 0%,#ffcc67 99%) !important;
}
.presale_txt mark {
    border-radius: 4px;
    color: #fff;
    padding: 0 8px;
}
section.small_pb {
    padding-bottom: 50px;
}
section.small_pt {
    padding-top: 50px;
}
.title_border h4 {
    padding-bottom: 15px;
    position: relative;
}
.title_default_light h4, .title_default_light p {
    color: #fff;
}
.title_default_light h4, .title_default_dark h4 {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 30px;
    text-transform: capitalize;
}
.title_border h4::before {
    background-color: #5957cd;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    right: 0;
    width: 80px;
}
.title_border.text-center h4::before {
    margin: 0 auto;
}
.title_default_light.title_border h4::before {
    background-color: #fff;
}
.v_dark .box_wrap {
    background-color: #121833;
}
.box_wrap {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    padding: 20px 15px;
    transition: all 0.5s ease 0s;
}
.box_wrap h4, .work_inner h4 {
    color: #7a7a7a;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 20px;
}
.v_blue_pro .box_wrap h4, 
.v_blue_pro .box_wrap p, 
.v_dark .box_wrap h4, 
.v_dark .box_wrap p, 
.v_royal_blue .box_wrap h4, 
.v_royal_blue .box_wrap p, 
.v_navy_blue .box_wrap h4, 
.v_navy_blue .box_wrap p 
{
    color: #ffffff;
}
.v_dark .box_wrap {
    background-color: #121833;
}
section {
    padding: 100px 0;
    position: relative;
}
.pr_box {
    margin-top: 40px;
    text-align: center;
}
.token_sale .pr_box:first-child {
    margin: 0;
}
.pr_box h6, .chart_list_info li p span, .v_dark .blog_text > a, .v_dark .blog_meta a i, .sale_info h6, .token_info_table .table td:first-child, .token_info_table_s2 .table td:first-child, .token_detail li span, .discount_text, .rating {
    color: #ffcb68;
}
.pr_box h6 {
    color: #ffcb68;
}
.pr_box p {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    text-transform: uppercase;
}
.tk_countdown .btn {
    margin: 15px 0;
}
.v_dark .tk_countdown {
    background-color: #0c0e27;
    background-position: center center;
}
.tk_countdown {
    background-color: #4241B8;
    background-position: right center;
    background-repeat: no-repeat;
    border-radius: 10px;
    padding: 35px;
}
.bg_light_dark {
    background-color: #121833;
}
.list_chart li {
    display: inline-block;
    padding: 0 5px;
    font-size: 14px;
    font-weight: 500;
}
.list_chart li span {
    color: #fff;
}
.chart_bx {
    background-color: #ffffff;
    display: inline-block;
    margin-right: 5px;
    height: 7px;
    vertical-align: middle;
    width: 7px;
}
.small_divider {
    height: 50px;
}
.divider {
    clear: both;
    display: block;
    height: 20px;
}
.color2 {
    background-color: #78c596;
}
.color3 {
    background-color: #f17776;
}
.color4 {
    background-color: #0eadc9;
}
.color5 {
    background-color: #4241b8;
}
.no-js .owl-carousel, .owl-carousel.owl-loaded {
    display: block;
}
.small_space {
    margin-top: 20px;
}
.team_box_s3 {
    padding: 20px 20px;
}
.radius_box {
    border-radius: 5px;
}
.bg_light_dark {
    background-color: #121833;
}
.team_social_s2 {
    background-image: -webkit-linear-gradient(top, #ff67cb 0%,#ffcc67 99%);
    background-image: linear-gradient(to bottom, #ff67cb 0%,#ffcc67 99%);
}
.team_social_s2 {
    background-image: -webkit-linear-gradient(top, #ff67cb 0%,#ffcc67 99%);
    background-image: linear-gradient(to bottom, #ff67cb 0%,#ffcc67 99%);
    position: absolute;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 40px;
    padding: 15px 10px;	
}
.team_info {
    padding-top: 15px;
}
.team_info h4 a {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}
.team_info p {
    line-height: normal;
    margin: 0;
	color: #fff;
}
.team_social_s2 li a
{
	color: #fff !important;
	display: block;
	padding: 3px 0;
}
.large_divider {
    height: 100px;
}
.tab_content ul {
    margin: 0 -10px;
}
.tab_nav_s2.tab_color_white li.nav-item {
    border-color: #fff;
}
.tab_nav_s2 li.nav-item {
    border-right: 1px solid #0043bb;
    padding: 0 25px;
}
.tab_content .nav-item {
    padding: 0 10px;
}
.tab_nav_s2 li.nav-item button.active, .tab_nav_s2 li.nav-item a:hover {
    color: #ff69c9;
}
.tab_color_white a {
    color: #fff;
}
a:hover, header button:hover, .navbar-nav li button.active, .navbar-expand-lg .navbar-nav .dropdown-menu li a.active, .navbar-expand-lg .navbar-nav .dropdown-item:hover, .navbar-expand-lg .navbar-nav .dropdown-item.active, .navbar-expand-lg .navbar-nav .dropdown.show > a, .social_icon li a:hover, .social_single_team li a:hover, .social_team a:hover, .blog_text a:hover, .blog_meta a:hover, .blog_meta a:hover i, .footer_menu li a:hover, .footer_link a:hover, .footer_social li a:hover, .blog_title a:hover, .blog_content_detail .blog_meta a:hover, .blog_content_detail .blog_meta li a:hover i, .blog_content_detail .blog_meta a:hover span, .v_blue .social_icon li a:hover, .v_blue_pro .blog_text a:hover, .v_blue_pro .blog_meta a:hover, .v_blue_pro .blog_meta a:hover i, .v_dark .blog_text a:hover, .v_dark .blog_meta a:hover, .v_dark .blog_meta a:hover i, .v_dark .social_icon li a:hover, .v_dark .social_single_team li a:hover, .breadcrumb li a:hover, .widget_category li a:hover, .widget_archive li a:hover, .tags li a:hover, .widget-post-content h6 a:hover, .comment-reply:hover, .v_blue_light .social_icon li a:hover, .v_light_dark .social_single_team li a:hover, .v_blue .social_single_team li a:hover, .v_royal_blue .social_icon li a:hover, .doc_list li a:hover, .v_navy_blue .nav-item a:hover, .v_navy_blue .nav-item a.active, .footer_link_s2 li a:hover, .roadmap_wrap .owl-nav i:hover, .doc_dropdown .dropdown-menu li a:hover, .vertical_social li a:hover, .doc_lan li a:hover, .doc_lan li a:hover span i, .tab_nav_s2 li.nav-item button.active, .tab_nav_s2 li.nav-item button:hover {
    color: #ff69c9;
	background: none;
}
.tab_nav_s2 li
{
	flex-basis: unset !important;
	flex-grow: unset !important;
}
.tab_nav_s2 li button
{
	padding: 0;
	color: #fff;
}
.faq-tabs-wrapper
{
	margin-top: 30px;
}
.faq-tabs-wrapper .tab-content
{
	margin-top: 40px;
}
.faq_content .card {
    background-color: rgba(0, 0, 0, 0);
    border: 0 none;
    border-radius: 0;
    margin-bottom: 10px;
}
.faq_content .card-header, .faq_content5 .card-header {
    background-color: rgba(0, 0, 0, 0);
    border: 0 none;
    padding: 0;
    z-index: 2;
}
.faq-tabs-wrapper .accordion-item,
.faq-tabs-wrapper .accordion-header button
{
	background: none !important;
	color: #fff;
}
.faq-tabs-wrapper .accordion-button:not(.collapsed)::after,
.faq-tabs-wrapper .accordion-button:after
{
	background-image: none;
	content: "\f107";
	font-weight: 900;
	font-family: "Font Awesome 6 Free";
}

.faq-tabs-wrapper .accordion-item
{
	margin-bottom: 20px;
	border: 1px solid #fff !important;
	border-radius: 10px !important;
}
.faq-tabs-wrapper .accordion-button
{
	box-shadow: none !important;
}
.logo_border::before {
    background-color: #e6e8ea;
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    margin-bottom: -1px;
    position: absolute;
    width: 100%;
}
.logo_border::after {
    background-color: #e6e8ea;
    content: "";
    height: 100%;
    margin-right: -1px;
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
}
.logo_border:nth-child(5):before,
.logo_border:nth-child(6):before,
.logo_border:nth-child(7):before,
.logo_border:nth-child(8):before
{
	display: none;
}
.logo_border {
    height: 120px;
	position: relative;
}
.v_blue_pro .logo_border::after, .v_blue_pro .logo_border::before, .v_blue_light .logo_border::after, .v_blue_light .logo_border::before, .v_blue .logo_border::after, .v_blue .logo_border::before, .v_dark .logo_border::after, .v_dark .logo_border::before, .v_royal_blue .logo_border::after, .v_royal_blue .logo_border::before {
    background-color: rgba(255,255,255,0.2);
}
.contact_title h5 {
    font-weight: 600;
    margin-bottom: 20px;
}
.contact_title * {
    color: #fff;
}
.contact_box_s2 .contact_info li {
    margin-bottom: 15px;
}
.contact_info li {
    margin-bottom: 25px;
}
.list_none li {
    list-style: none;
}
.contact_info li i {
    border: 1px solid #ffffff;
    border-radius: 100%;
    color: #ffffff;
    float: left;
    font-size: 24px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    width: 46px;
}
.contact_detail {
    padding-left: 75px;
}
.contact_detail span {
    color: #ffffff;
    display: block;
    font-weight: 600;
    text-transform: uppercase;
}
.contact_detail p {
    color: #ffffff;
    line-height: normal;
    margin: 0;
}
.contact_box_s2 {
    padding: 30px 20px;
}
.contct_follow  span {
    color: #fff;
    font-weight: 500;
    margin-right: 20px;
}
.social_icon {
    display: inline-block;
    vertical-align: middle;
}
.social_icon li {
    float: left;
    margin-right: 10px;
}
.v_dark .social_icon li a, .v_light_dark .social_icon li a {
    color: #0c0e27;
}
.contct_follow li
{
	padding: 0;
}
.field_form .form-control {
    border-color: #7a7a7a;
    border-radius: 5px;
    padding: 12px 15px;
	box-shadow: none !important;
}
.v_blue .field_form .form-control, .v_dark .field_form .form-control, .v_royal_blue .field_form .form-control {
    background-color: transparent;
    border-color: #ffffff;
    color: #ffffff;
}
.form-group {
    margin-bottom: 1rem;
}
.contact-form-home .form-control::-webkit-input-placeholder
{
	color: #fff;
}
.contact-form-home .form-control::-moz-input-placeholder
{
	color: #fff;
}
.contact-form-home .form-control::-o-input-placeholder
{
	color: #fff;
}
.contact-form-home .form-control::-ms-input-placeholder
{
	color: #fff;
}





/* timeline section */

.roadmap {
    position: relative;
	display: block;
	padding:0 100px;
}
.roadmap_box{
	margin-top: 115px;
	position: relative;
	text-align: center;
}
.icon_roadmap {
	color: #ffffff;
	left: 0;
	position: absolute;
	right: 0;
	top: -115px;
	z-index: 9;
}
.icon_roadmap i {
	font-size: 38px;
}
.roadmap.gradient_box {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.roadmap::before {
	border-top: 1px dashed rgba(255, 255, 255, 0.6);
	content: "";
	left: 0;
	position: absolute;
	right: 0;
	top: 80px;
}
.roadmap_icon {
	background-color: #ffffff;
	border-radius: 100%;
	height: 20px;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	top: -45px;
	width: 20px;
}
.rd_complete .roadmap_icon {
	background-color: #ff67cb;
}
.roadmap_icon::before {
	border: 3px solid #ffffff;
	border-radius: 100%;
	bottom: 0;
	content: "";
	left: 0;
	margin: -10px;
	position: absolute;
	right: 0;
	top: 0;
}
.rd_complete .roadmap_icon {
	height: 15px;
	top: -42px;
	width: 15px;
}
.rd_complete.current .roadmap_icon {
	height: 20px;
	top: -45px;
	width: 20px;
}
.rd_complete .roadmap_icon::before {
	margin: -8px;
}
.rd_complete.current .roadmap_icon::before {
	margin: -10px;
}
.roadmap_inner,
.timeline_inner {
	border-radius: 5px;
	padding: 10px 5px;
	position:relative;
}
.roadmap_box.current .roadmap_inner,
.timeline_box.current .timeline_inner {
	background-color: #ff67cb;
}
.roadmap_box.current .roadmap_inner::before,
.timeline_box.current .timeline_inner::before {
	border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #ff67cb;
	border-style: solid;
	border-width: 0 8px 8px;
	content: "";
	height: 0;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	top: -8px;
	width: 0;
}
.roadmap_box h6,
.timeline_box h6 {
	color: #ffffff;
}
.roadmap_box p,
.timeline_box p {
	color: #ffffff;
	font-size:14px;
	line-height:26px;
	margin: 0;
}
.roadmap .owl-prev,
.roadmap .owl-next {
	position: absolute;
	top: 63px;
}
.roadmap .owl-prev {
	left: 50px;
}
.roadmap .owl-next {
	right: 50px;
}
.roadmap .owl-nav i {
	background-color: #ffffff;
	border-radius: 100%;
	color: #5957cd;
	display: block;
	font-size: 26px;
	height: 33px;
	line-height: 37px;
	text-align:center;
	width: 33px;
}
.roadmap .owl-nav i:hover,
.timeline .owl-nav i:hover {
	background-color: #ff67cb;
	color: #fff;
}
.roadmap .owl-prev i,
.timeline .owl-prev i {
	padding-right: 3px;
}
.roadmap .owl-next i,
.timeline .owl-next i {
	padding-left: 3px;
}
.roadmap .owl-nav .disabled {
	cursor: default;
}
.roadmap .owl-nav .disabled i,
.timeline .owl-nav .disabled i {
	background-color: #ffffff !important;
	color: #5957cd; 
}
.single_roadmap h6 {
	color: #ffffff;
	font-weight: 600;
	left: 0;
	position: absolute;
	right: 0;
	top: -50px;
}
.roadmap_list .col-lg:nth-child(2n) .single_roadmap h6 {
	bottom: -60px;
	top: auto;
}
.roadmap_list p {
	color: #ffffff;
	margin: 0;
}
.roadmap_list {
	margin-bottom: 200px;
	padding: 0 50px;
	position: relative;
	text-align: center;
}
.single_roadmap {
	padding: 0px 0px 130px;
}
.roadmap_list .col-lg:nth-child(2n+1) .single_roadmap {
	left: 0;
	padding: 130px 0px 0px;
	position: absolute;
}
.single_roadmap .roadmap_icon {
	background-color: #ffffff;
	border-radius: 100%;
	height: 20px;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	top: -9px;
	width: 20px;
}
.single_roadmap .roadmap_icon::before {
	border: 3px solid #ffffff;
	border-radius: 100%;
	bottom: 0;
	content: "";
	left: 0;
	margin: -10px;
	position: absolute;
	right: 0;
	top: 0;
}
.roadmap_list .col-lg:nth-child(2n) .single_roadmap .roadmap_icon {
	bottom: -10px;
	top: auto;
}
.single_roadmap::before {
	border-left: 1px dashed rgba(255,255,255,0.6);
	content: "";
	height: 90px;
	left: 50%;
	position: absolute;
	top: 20px;
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}
.single_roadmap::after {
	background-color: #ffffff;
	border-radius: 100%;
	content: "";
	height: 9px;
	left: 50%;
	position: absolute;
	top: 110px;
	width: 9px;
	-moz-transform: translateX(-50%);
	-weblit-transform: translateX(-50%);
	transform: translateX(-50%);
}
.roadmap_list .col-lg:nth-child(2n) .single_roadmap::before {
	bottom: 20px;
	top: auto;
}
.roadmap_list .col-lg:nth-child(2n) .single_roadmap::after {
	bottom: 110px;
	top: auto;
}
.roadmap_list::before {
	border-bottom: 1px dashed rgba(255,255,255,0.6);
	content: "";
	left: 0;
	position: absolute;
	right: 0;
	top: 100%;
}
.single_roadmap.roadmap_done .roadmap_icon {
	background-color: #ff67cb;
}
.box_roadmap {
	margin-top: 120px;
	position: relative;
	text-align: center;
}
.box_roadmap .roadmap_inner {
	padding: 20px 5px 0;
}
.roadmap_wrap::before {
	border-top: 1px dashed rgba(255, 255, 255, 0.6);
	content: "";
	height: 3px;
	left: 0;
	position: absolute;
	top: 17px;
	width: 100%;
}
.box_roadmap h6 {
	color: #ffffff;
}
.box_roadmap p {
	color: #ffffff;
	font-size: 14px;
	line-height: 26px;
	margin: 0;
}
.box_roadmap .roadmap_inner::before {
	border-left: 1px dashed rgba(255, 255, 255, 0.6);
	content: "";
	height: 86px;
	left: 50%;
	position: absolute;
	top: -86px;
}
.box_roadmap .roadmap_inner::after {
	background-color: #ff67cb;
	border-radius: 100%;
	content: "";
	height: 10px;
	left: 50%;
	position: absolute;
	top: 0;
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 10px;
	z-index: 0;
}
.box_roadmap.rd_complete .roadmap_icon::after {
	color: #ffffff;
	content: "";
	font-family: ionicons;
	font-size: 14px;
	left: 6px;
	line-height: 16px;
	position: absolute;
	top: 3px;
}
.box_roadmap .roadmap_icon {
	height: 24px;
	top: -115px;
	width: 24px;
}
.box_roadmap .roadmap_icon::before {
	background-color: rgba(255, 255, 255, 0.5);
	border: 0 none;
	margin: -4px;
	z-index: -1;
}
.roadmap_wrap .owl-prev {
    left: -20px;
}
.roadmap_wrap .owl-next {
	right: -20px;
}
.roadmap_wrap .owl-nav i {
	color: #ffffff;
	display: block;
	font-size: 26px;
	text-align: center;
}
.roadmap_wrap .owl-nav i:hover {
	color: #ff67cb;
}
.roadmap_wrap .owl-prev, 
.roadmap_wrap .owl-next {
    position: absolute;
    top: 4px;
}
.timeline_wrap {
	padding-top: 30px;
	position: relative;
}
.timeline_wrap::before {
	background-color: #0043bb;
	bottom: 0;
	content: "";
	height: 100%;
	left: 50%;
	position: absolute;
	top: 0;
	width: 1px;
}
.timeline_block {
	display: inline-block;
	position: relative;
	margin-bottom: 30px;
}
.timeline_icon.tm_complete {
	background-color: rgba(7,24,144,0.5);
	color: #ffffff;
}
.timeline_icon.tm_complete::before {
	background-color: #071890;
	border-radius: 100%;
	bottom: 0;
	content: "";
	height: 8px;
	left: 50%;
	position: absolute;
	right: 0;
	top: 50%;
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	width: 8px;
}
.timeline_icon {
	background-color: #071890;
	border-radius: 100%;
	font-size: 12px;
	height: 20px;
	left: 50%;
	line-height: 23px;
	position: absolute;
	text-align: center;
	top: 15px;
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 20px;
}
.timeline_content {
	background-color: #071890;
	border-radius: 5px;
	padding: 15px;
	position: relative;
	text-align: right;
	width: 46%;
}
.timeline_content h6 {
	color: #ffffff;
}
.timeline_content p {
	color: #ffffff;
	font-size: 14px;
	line-height: normal;
	margin: 0;
}
.timeline_block:nth-child(2n) .timeline_content {
	float: right;
	text-align: left;
}
.tm_date {
	color: #071890;
	font-weight: 600;
	left: 115%;
	line-height: normal;
	position: absolute;
	text-align: left;
	top: 12px;
	width: 100%;
}
.timeline_content::before {
	border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #071890;
	border-style: solid;
	border-width: 9px 0 9px 9px;
	content: "";
	height: 0;
	position: absolute;
	right: -9px;
	top: 17px;
	width: 0;
}
.timeline_block:nth-child(2n) .timeline_content::before {
	border-color: rgba(0, 0, 0, 0) #071890 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
	border-width: 9px 9px 9px 0;
	left: -9px;
	right: auto;
}
.timeline_block:nth-child(2n) .tm_date {
	left: auto;
	right: 115%;
	text-align: right;
}
.timeline_box {
	margin-top: 45px;
	position: relative;
	text-align: center;
}
.timeline::before {
    background-color: rgba(255, 255, 255, 0.20);
    content: "";
    height: 5px;
    left: 0;
    position: absolute;
    top: 15px;
    width: 100%;
}
.timeline .owl-prev, .timeline .owl-next {
    position: absolute;
    top: 0px;
}
.timeline .owl-nav i {
    background-color: #ffffff;
    border-radius: 100%;
    color: #5957cd;
    display: block;
    font-size: 26px;
    height: 33px;
    line-height: 37px;
    text-align: center;
    width: 33px;
}
.timeline .owl-prev {
    left: -30px;
}
.timeline .owl-next {
    right: -30px;
}
.timeline_circle {
    background-color: #ffffff;
    border-radius: 100%;
    height: 13px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: -34px;
    width: 13px;
}
.timeline_circle::before {
    border: 2px solid #ffffff;
    border-radius: 100%;
    bottom: 0;
    content: "";
    left: 0;
    margin: -6px;
    position: absolute;
    right: 0;
    top: 0;
	z-index: 0;
}
.timeline_box.complete .timeline_circle::before {
    border-color: #ff67cb;
    margin: -8px;
    background-color: #ff67cb;
    z-index: -1;
}
.timeline_box.complete::before {
    content: "";
    position: absolute;
    left: -50%;
    top: -30px;
    background-color: #ff67cb;
    height: 5px;
    z-index: -2;
    width: 110%;
    margin-left: -30px;
}


.v_light_dark .roadmap .owl-nav i,
.v_light_dark .roadmap .owl-nav .disabled i:hover {
	color: #121833;
}
.v_light_dark .roadmap .owl-nav i:hover {
	color: #ffffff;
}
.v_blue .roadmap .owl-nav i,
.v_blue .roadmap .owl-nav .disabled i:hover {
  color: #121a6d;
}
.v_blue .roadmap .owl-nav i:hover {
	color: #ffffff;
}
.v_blue_light .roadmap_list h6,
.v_blue_light .roadmap_list p {
	color: #7a7a7a;
}
.v_blue_light .single_roadmap::before,
.v_blue_light .single_roadmap .roadmap_icon::before,
.v_blue_light .roadmap_list::before {
	border-color: #193dc0;
}
.v_blue_light .single_roadmap .roadmap_icon,
.v_blue_light .single_roadmap::after {
	background-color: #193dc0;
}
.v_dark .timeline .owl-nav i {
	color: #0c0e27;
}
.v_dark .timeline .owl-nav [class*="owl-"]:not(.disabled) i:hover,
.v_navy_blue .timeline .owl-nav [class*="owl-"]:not(.disabled) i:hover,
.v_cyan_blue .timeline .owl-nav [class*="owl-"]:not(.disabled) i:hover {
    color: #fff;
}
.v_navy_blue .timeline .owl-nav i {
	color: #0043bb;
}
.v_cyan_blue .timeline .owl-nav i {
	color: #0e082c;
}
.owl-carousel
{
	display: block;
}
.timeline-side-wrap .slick-prev,
.timeline-side-wrap .slick-next
{
	top: 10px;
	z-index: 1;
}
.timeline-side-wrap .slick-next
{
	right: 0;
}
.timeline-side-wrap .slick-prev:before,
.timeline-side-wrap .slick-next:before
{
	font-size: 42px;
}
.blog_item {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}
.blog_img {
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}
.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    -webkit-transform-style: preserve-3d;
}
.blog_img img {
    zoom: 1;
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    transition: all 0.5s ease 0s;
    width: 100%;
}
.v_dark .blog_content {
    background-color: #0c0e27;
}
.blog_content {
    background-color: #ffffff;
    border-radius: 0 0 10px 10px;
    display: inline-block;
    width: 100%;
}
.blog_text {
    padding: 15px;
}
.blog_title {
    font-weight: 600;
}
.blog_text a {
    font-weight: 600;
    line-height: normal;
}
.blog_content p {
    height: 85px;
    margin: 0 0 10px;
    overflow: hidden;
}
.pr_box h6, .chart_list_info li p span, .v_dark .blog_text > a, .v_dark .blog_meta a i, .sale_info h6, .token_info_table .table td:first-child, .token_info_table_s2 .table td:first-child, .token_detail li span, .discount_text, .rating {
    color: #ffcb68;
}
.v_dark .blog_text > a, .v_dark .blog_meta a i {
    color: #ffcc67;
}
.blog_text a {
    font-weight: 600;
    line-height: normal;
}

.blog_meta {
    background-color: #f1f1f1;
    border-radius: 0 0 10px 10px;
    display: block;
    padding: 10px 15px;
    width: 100%;
}
.v_dark .blog_meta {
    background-color: #121833;
}
.blog_meta li {
    display: inline-block;
    padding-right: 15px;
}
.blog_meta a {
    color: #444444;
}
.pr_box h6, .chart_list_info li p span, .v_dark .blog_text > a, .v_dark .blog_meta a i, .sale_info h6, .token_info_table .table td:first-child, .token_info_table_s2 .table td:first-child, .token_detail li span, .discount_text, .rating {
    color: #ffcb68;
}
.v_dark .blog_text > a, .v_dark .blog_meta a i {
    color: #ffcc67;
}
.blog_meta li a i {
    color: #5957cd;
    font-size: 18px;
    vertical-align: middle;
    transition: all 0.5s ease 0s;
}
.blog_title a
{
	color: #fff;
}
.v_blue_pro .blog_title a, .v_blue_pro .blog_text p, .v_blue_pro .blog_text a, .v_blue_pro .blog_meta a, .v_blue_pro .blog_meta a i, .v_dark .blog_title a, .v_dark .blog_text p, .v_dark .blog_meta a {
    color: #ffffff;
}
.v_dark .blog_item {
    border-color: #fff;
}
.blog_slider .item
{
	padding: 0 15px;
}
.pr_box h6, .chart_list_info li p span, .v_dark .blog_text > a, .v_dark .blog_meta a i, .sale_info h6, .token_info_table .table td:first-child, .token_info_table_s2 .table td:first-child, .token_detail li span, .discount_text, .rating {
    color: #ffcb68;
}
.v_dark .blog_text > a, .v_dark .blog_meta a i {
    color: #ffcc67;
}
.blog_meta li:last-child {
    padding: 0;
    float: right;
}
.blog_slider .slick-dots
{
	margin-top: 20px;
	position: unset;
}
.blog_slider .slick-dots li
{
	width: auto;
	height: auto;
	margin: 0;
	padding: 0;
}
.blog_slider .slick-dots li button
{
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 100%;
	margin: 0 3px;
}
.blog_slider .slick-dots li button:before
{
	display: none;
}
.blog_slider .slick-dots li.slick-active button
{
	background: none;
	border: 3px solid #fff;
}